
__pycache__/
*.py[cod]
*$py.class
venv/
myvenv/
.env/
.env.*
# Data & audio
processed_audio/
*.wav
*.mp3
*.m4a
*.flac
whisper_model/
*.log
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
indic_model/model.safetensors
